.container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.about-a {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    color: #7F7F7F;
    line-height: 21px;
    letter-spacing: 0%;
    text-decoration: none;
}

.about-a1 {
    color: #7F7F7F;
}

.about-a2 {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    color: black;
    line-height: 21px;
    letter-spacing: 0%;
    text-decoration: none;
}

.about-flex {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 80px;
    margin-bottom: 42px;
}

.about-h1 {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 54px;
    color: black;
    line-height: 64px;
    letter-spacing: 6%;
    text-align: justify;

}

.about-card-p {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: black;
    line-height: 26px;
    letter-spacing: 0%;
    padding-top: 40px;
    padding-bottom: 24px;
}

.about-card-p2 {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: black;
    line-height: 26px;
    letter-spacing: 0%;

}

.about-card {
    display: flex;
    align-items: center;
    margin-bottom: 140px;
}

.about-img {
    margin-left: 140px;
}

.about-section {
    padding-left: 155px;
}

.statistics-card {
    width: 270px;
    height: 220px;
    border-radius: 4px;
    border: 1px solid #B3B3B3;
    position: relative;
    display: inline-block;
}

.card1:hover {
    border-radius: 4px;
    background: rgb(21, 185, 185);
    filter: brightness() invert(1)
}

.card2:hover {
    border-radius: 4px;
    background: rgb(21, 185, 185);
    filter: brightness() invert(1)
}

.card3:hover {
    border-radius: 4px;
    background: rgb(21, 185, 185);
    filter: brightness() invert(1)
}

.card4:hover {
    border-radius: 4px;
    background: rgb(21, 185, 185);
    filter: brightness() invert(1)
}

.hover5.active {
    border-radius: 4px;
    background: rgb(21, 185, 185);
    filter: brightness() invert(1)
}

.card1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 45px;
}

.card2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 45px;
}

.card3 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 45px;
}

.card4 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 45px;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 140px;
}

.statistics-img {
    padding-bottom: 10px;
}

.statistics-p {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;
}

.statistics-p1 {
    padding-top: 10px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    color: black;
    line-height: 30px;
    letter-spacing: 4%;

}

.statistics-p2 {
    padding-top: 10px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    color: black;
    line-height: 30px;
    letter-spacing: 4%;

}

.statistics-p3 {
    padding-top: 11px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    color: black;
    line-height: 30px;
    letter-spacing: 4%;

}

.statistics-p4 {
    padding-top: 12px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: black;
}

.statistics-p5 {
    padding-top: 10px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: black;
}

.statistics-p6 {
    padding-top: 10px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: black;
}

.statistics-p7 {
    padding-top: 9px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: black;
}

.team-img {
    width: 370px;
    height: 430px;
    background-color: #F5F5F5;
    border-radius: 4px;
}

.team-card {
    width: 370px;
    height: 564px;
}

.team-img-1 {
    padding-top: 39px;
    padding-left: 67px;
    padding-right: 67px;

}

.team-img-2 {
    padding-top: 33px;
    padding-left: 38px;
    padding-right: 38px;

}

.team-img-3 {
    padding-top: 38px;
    padding-left: 22px;
    padding-right: 22px;

}

.team-icon {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.team-p {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    color: black;
    line-height: 30px;
    letter-spacing: 4%;
    padding-top: 32px;
}

.team-p1 {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: black;
    padding-top: 8px;
}

.team-position {
    display: flex;
    justify-content: space-between;
}

.dumalo-carusel-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 140px;
    margin-top: 40px;
}

.dumalo-bg {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;

}

.dumalo.hover {
    border: 1px solid white;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-top: 1.5px;
    margin-bottom: 2px;
    margin-left: 1.5px;
    margin-right: 2px;
    background-color: red;

}

.img-mttop {
    margin-bottom: 140px;
}