.container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(251, 251, 251);
}

.brendcrumb-flex-a {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.crumb-a1 {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #7F7F7F;
    text-decoration: none;
}

.crumb-p {
    color: #7F7F7F;
}

.crumb-a2 {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-decoration: none;
    color: black;
}

.product-images-card {
    width: 170px;
    height: 138px;
    border-radius: 4px;
    background-color: #F5F5F5;
    padding-top: 12px;
    padding-left: 24px;
}

.product-images-card1 {
    width: 170px;
    height: 138px;
    border-radius: 4px;
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-left: 29px;
    margin-top: 32px;
}

.product-images-card2 {
    width: 170px;
    height: 138px;
    border-radius: 4px;
    background-color: #F5F5F5;
    padding-top: 22px;
    padding-left: 18px;
    margin-top: 32px;
}

.product-images-card3 {
    width: 170px;
    height: 138px;
    border-radius: 4px;
    background-color: #F5F5F5;
    padding-top: 16px;
    padding-left: 24px;
    margin-top: 32px;
}

.product-orta-card {
    width: 500px;
    height: 650px;
    background-color: #F5F5F5;
    border-radius: 4px;
    padding-top: 154px;
    padding-left: 27px;
    padding-bottom: 131px;
    margin-left: 30px;
    margin-right: 71px;
}

.product-card-3-flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.jostic-p-text {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    padding-bottom: 16px;
}

.jostic-p-text1 {
    color: #7F7F7F;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;

}

.jostic-p-text-2 {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #00FF66;
}

.jostic-p-text-3 {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    padding-top: 16px;
    padding-bottom: 24px;
}

.jostic-p-text-4 {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    padding-bottom: 24px;
}

.hr-live {
    width: 400px;
    border-bottom: 1px solid #7F7F7F;
    color: #7F7F7F;
}

.raido-product {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.xs {
    width: 32px;
    height: 32px;
    border: solid 1px #7F7F7F;
    border-radius: 4px;
    padding-left: 7px;
    padding-top: 2px;
}

.S {
    width: 32px;
    height: 32px;
    border: solid 1px #7F7F7F;
    border-radius: 4px;
    padding-left: 11px;
    padding-top: 2px;
}

.M {
    width: 32px;
    height: 32px;
    border: solid 1px #7F7F7F;
    border-radius: 4px;
    padding-left: 9px;
    padding-top: 2px;
}

.L {
    width: 32px;
    height: 32px;
    border: solid 1px #7F7F7F;
    border-radius: 4px;
    padding-left: 13px;
    padding-top: 2px;
}

.xl {
    width: 32px;
    height: 32px;
    border: solid 1px #7F7F7F;
    border-radius: 4px;
    padding-left: 8px;
    padding-top: 2px;
}

.xs:hover {
    border-radius: 4px;
    background: rgb(21, 185, 185);
    filter: brightness() invert(1)
}

.S:hover {
    border-radius: 4px;
    background: rgb(21, 185, 185);
    filter: brightness() invert(1)
}

.M:hover {
    border-radius: 4px;
    background: rgb(21, 185, 185);
    filter: brightness() invert(1)
}

.L:hover {
    border-radius: 4px;
    background: rgb(21, 185, 185);
    filter: brightness() invert(1)
}

.xl:hover {
    border-radius: 4px;
    background: rgb(21, 185, 185);
    filter: brightness() invert(1)
}

.brend-xl {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}

.brend-s {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 24px;
}

.brend-button-2 {
    display: flex;
    align-items: center;
    border: 1px solid #7F7F7F;
    width: 159px;
    height: 44px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 4px;
}

.btn-brend {
    width: 40px;
    height: 42px;
    border-radius: 4px;
    border: none;
    padding-bottom: 5px;
}

.btn-brend2 {
    width: 80px;
    height: 44px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    border: solid 1px #7F7F7F;
    border-left: 1px solid #7F7F7F;
    border-right: none;
}

.btn-brend3 {
    width: 41px;
    height: 42px;
    background-color: #DB4444;
    border: none;
    border-left: 1px solid #7F7F7F;
}

.yurakcha {
    padding-top: 11px;
    padding-left: 9px;
    padding-bottom: 11px;
    padding-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #7F7F7F;
}

.btn-gaming {
    background-color: #DB4444;
    width: 165px;
    height: 44px;
    border-radius: 4px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: white;
    border: none;
}

.parent-gaming {
    display: flex;
    gap: 19px;
}

.parent-flex-col {
    display: flex;
    align-items: center;
    gap: 16px;
}

.delevery-card {
    width: 399px;
    height: 180px;
    border: solid 1px #7F7F7F;
}

.delevery-parent {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 24px;
    padding-left: 16px;
}

.free-p {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: black;
}

.free-a {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: black
}

.dvider-hr {
    width: 399px;
    border: solid 1px #7F7F7F;
    margin-top: 16px;
}

.delevery-parent1 {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 24px;
    padding-left: 16px;
}

.free-p1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: black;
}

.free-a1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: black
}

.parent-gaming-page {
    display: flex;
}

.cardigr1 {
    display: grid;
    overflow-x: hidden;
    margin-right: -150px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 140px;
}
.images21 {
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-bottom: 35px;
}