.container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.breadcrumb {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-between;
}

.breadcrumb1 {
    display: flex;
    gap: 12px;
    align-items: center;
}

.breadcrumb-a {
    color: #7F7F7F;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-decoration: none;
}

.breadcrumb-a1 {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-decoration: none;
    color: black;
}

span {
    color: #DB4444;
}